ATLAS_URI=mongodb+srv://user:pass@cluster0.pczcs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=5050
JWT_SECRET=SECRET
NEXT_PUBLIC_API_URL=http://localhost:5050
ORIGIN_URL=http://localhost:3000