@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gray-100;
}

@keyframes flash {
  0%,
  50% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
}

.dot-flash {
  animation: flash 1.5s infinite;
}
